In [34]:
# From CSV to SQL

import pandas as pd

In [35]:
import pandas as pd

pip install pandas

In [36]:
pip install pandas

Requirement already satisfied: pandas in c:\users\frey\desktop\maab\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\frey\desktop\maab\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\frey\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\frey\desktop\maab\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\frey\desktop\maab\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\frey\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
import sys
print(sys.executable)

c:\Users\Frey\Desktop\MAAB\python.exe

In [41]:
from sqlalchemy import create_engine

In [44]:
server_name = 'LAPTOP-VQ2EMNFR'  # Your actual server name
db_name = 'F24_class10'  # 

engine = create_engine(f'mssql+pyodbc://{server_name}/{db_name}?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes')

In [49]:
df = pd.read_csv('Source (1).csv')

In [50]:
df

   id      username     login        password
0   1     moonlight   saidbek        1234moon
1   4    abdumannof  AbKing27    Abdumannof27
2  id         dummy     login       password1
3   1         sunny   saidbek   1234moonlight
4   4  abdumannopov  AbKing27  Abdumannopov27

In [51]:
df.head(1)

  id   username    login  password
0  1  moonlight  saidbek  1234moon

In [52]:
df.to_sql('my_first_jupityr', con=engine, if_exists='replace',index=False
          )

5

In [53]:
#From Excel to SQL

In [58]:
import sys
print(sys.executable)

c:\Users\Frey\Desktop\MAAB\python.exe

In [61]:
sourceexcel = pd.read_excel("Excel source for importing.xlsx", sheet_name="Q3", engine="openpyxl")

In [62]:
sourceexcel

,ID,RequestedDate,Metadata,FirstName,LastName,FullName
0,1,2024-10-11,"IP-192.111.0.4-/IP,LastName-Johnson-/LastName,...",Dwayn,Johnso,Dwayn Johnso
1,2,2024-10-11,"IP-192.21.00.77-/IP,LastName-Falonchiev-/LastN...",Fistonch,Falonchie,Fistonch Falonchie
2,3,2024-10-10,"IP-165.000.01.25-/IP,LastName-Kim-/LastName,Fi...",Par,Ki,Par Ki
3,4,2024-10-10,"IP-192.202.11.00-/IP,LastName-Morgan-/LastName...",Colli,Morga,Colli Morga
4,5,2024-10-10,"IP-192.111.0.4-/IP,LastName-Johnson-/LastName,...",Dwayn,Johnso,Dwayn Johnso
5,6,2024-10-10,"IP-192.111.0.7-/IP,LastName-Jackson-/LastName,...",Nicola,Jackso,Nicola Jackso
6,7,2024-10-07,"IP-192.111.5.55-/IP,LastName-Westwood-/LastNam...",Ann,Westwoo,Ann Westwoo

In [ ]:
sourceexcel.to_sql('From_API', con=engine, if_exists='append',index=False
          )

7

In [65]:
#From SQL

In [73]:
from webdriver_manager.chrome import ChromeDriverManager

In [74]:
import csv
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import time

In [75]:
#Chrome setup

In [79]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)

In [80]:
#AIRBNB

In [ ]:
url ="https://ru.airbnb.com/"
driver.get(url)